<!--  easydose_card_template.html.twig
-->

<div>
    <div class="card weather-card mb-4 mt-4 mr-2 ml-2 content2" {% block stylecard %}  {% endblock %}>
    {%  block content %}
    
    {% endblock %}
    </div>
    
</div>



{%  block javascript %}


{% endblock %}